<a href="https://colab.research.google.com/github/Rukmani007/Practice-workbook/blob/main/Prctice_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
!python - v

Python 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>>

In [ ]:
word1="good"
word2="morning"
word3="everyone"
sentence = word1 + word2 + word3
print (sentence)

In [ ]:
"""this
is a 
mul
comm"""

In [ ]:
!python-v

In [ ]:
x=int(input())
if (x==1):
  print("true")
else:
  print("false")
if (x==5,10,15):
  print("multiples of 5")
else:
  print("none")

In [ ]:
x=int(input())
if x%2==0:
  print("even")
else:
  print("odd")

In [ ]:
x=str(input("is it raining?"))
if x=="Y":
  print("take umbrella")
elif x=="N":
  print("you are good")
else:
  print("enter Y or N")

In [ ]:
a=0
while a<10:
  a=a+1
  print (a)

In [ ]:
x= int(input("enter num1"))
y= int(input("enter num2"))

if x>y:
  print(x)
elif x<y:
  print(y)
elif x==y:
  print("both are equal x is", x,"y is", y)

In [ ]:
for x in range(7):
  print(x)

In [ ]:
for x in range(2,8):
  print(x)

In [ ]:
for x in range(2,10,3):
  print(x)

In [ ]:
fname = str(input("enter fname"))
lname = str(input("enter lname"))
dob= int(input("enter dob"))
m=int(input("enter mobile"))
x = list((fname,lname,dob,m))
print(x)

enter fnamegfdhg
enter lnamesjdg
enter dob8748
enter mobile32587924
['gfdhg', 'sjdg', 8748, 32587924]

In [ ]:
sfname = str(input("enter fname"))
lname = str(input("enter lname"))
dob= int(input("enter dob"))
m=int(input("enter mobile"))
x = tuple((fname,lname,dob,m))
print(x)

enter fnamehghjdsf
enter lnamehjkghf
enter dob84975
enter mobile873487
('hghjdsf', 'hjkghf', 84975, 873487)

In [ ]:
fname = str(input("enter fname"))
lname = str(input("enter lname"))
dob= int(input("enter dob"))
m=int(input("enter mobile"))
x = [fname,lname,dob,m]
print(x)

In [ ]:
fname = str(input("enter fname"))
lname = str(input("enter lname"))
dob= int(input("enter dob"))
m=int(input("enter mobile"))
x = (fname,lname,dob,m)
print(x)

In [ ]:
x="Omsaibaba"
print(x[3:6])

aib

In [ ]:
x="Omsaibaba"
print(x[4])

i

In [ ]:
x= str(input("enter 1"))
y= str(input("enter 2"))
z= int(input("1,2,3,4"))
if z==1:
  print(x.capitalize(),y.capitalize())
if z==2:
  print(x.lower(),y.lower())
if z==3:
  print(x.upper(),y.upper())
if z==4:
  print(x.swapcase(),y.swapcase())
else:
  print("Enter only between 1,2,3")

enter 1jhgj
enter 2jhjghj
1,2,3,44
JHGJ JHJGHJ

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
a=open("mylib.py","x")

In [ ]:
import mylib
a=mylib.fun("rukmani")
print(a)

In [ ]:
import pandas as pd
s=pd.Series()
print (s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s= pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c'])
s=pd.Series(data,index=[100,105,102])
print(s)

100    a
105    b
102    c
dtype: object

In [ ]:
import pandas as pd
import numpy as np
data={'a':0,'b':1}
s=pd.Series(data)
print(s)

a    0
b    1
dtype: int64

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4],index=['a','b','c','d'])
print (s[['d']])

d    4
dtype: int64

In [ ]:
import pandas as yz
s = yz.Series([1,2,3,4],index=['a','b','c','d'])
print (s[['c','d']])

c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
data=[1,2,3,4]
df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd
data=[1,2,3,4]
df = pd.DataFrame(data)
print(df.shape)

In [ ]:
import pandas as pd
data = [['ruk',10],['mani',21],['pree',23]]
df=pd.DataFrame(data,columns=['Name','age'])
print(df)

   Name  age
0   ruk   10
1  mani   21
2  pree   23

In [ ]:
import pandas as pd
data = [['ruk',10],['mani',21],['pree',23]]
df=pd.DataFrame(data,columns=['Name','age'],dtype=float)
print(df)

In [ ]:
#not giving list into a list produce the same o/p
import pandas as pd
data = ['ruk',10],['mani',21],['pree',23]
df=pd.DataFrame(data,columns=['Name','age'],dtype=float)
print(df)

In [ ]:
#dict with ndarray(multidimensial data array)
import pandas as pd
data={'name':['ruk','mani','devi'],'age':[21,22,23],'weight':[56,55,58]}
df=pd.DataFrame(data)
print(df)

In [ ]:
#take input from users and display in DF
name1,name2=input().split()
age1,age2=input().split()
import pandas as pd
weight1,weight2=map(int,input().split())
data={'name':[name1,name2],'age1':[age1,age2],'weight':[weight1,weight2]}
df=pd.DataFrame(data)
print(df)

In [ ]:
#dict into list
import pandas as pd
data=[{'name':'ruk','age':29,'weight':56},{'name':'mani'}]
df=pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd
data=[{'a':1,'b':3},{'a':4,'b':5,'c':4}]
df1=pd.DataFrame(data,columns=['a','b'])
df2=pd.DataFrame(data,columns=['a','b1'])
print(df1)
print(df2)

In [ ]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3],index=['a','b','c'])}
df=pd.DataFrame(d)
print(df['two'])
print(df['one'])

In [ ]:
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
df['four']=df['one']+df['two']
print(df)

In [ ]:
#deleting and poping columns
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
del df['one']
print(df)
df.pop('two')
print(df)

In [ ]:
#locate an index using loc(finds from the row)
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,4,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print (df.loc['b'])

In [ ]:
#locate the exact value using index value iloc(finds from the integer of indexes)
import pandas as pd
d={'one':pd.Series([1,'name',3],index=['a','b','c']),'two':pd.Series([1,4,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print (df.iloc[1])

one    name
two       4
Name: b, dtype: object

In [ ]:
#slicing rows in DF
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,4,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df[2:4])

In [ ]:
#append funckeyword to add different columns to the end
import pandas as pd
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[4,5],[6,4]],columns=['c','b'])
print(df)
print(df2)
df=df.append(df2)

print (df)

In [ ]:
#deletion of rows
import pandas as pd
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[4,5],[6,4]],columns=['c','b'])

df=df.drop(0)
df2=df2.drop(1)
print(df)
print(df2)

In [ ]:
#uploading file and importing to code(can paste URL also)
import pandas as pd
s=pd.read_csv('/content/pyth.csv')
print(s)

In [ ]:
import pandas as pd
url1="https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/iris.data"
url2="https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/baseball.csv"
data=pd.read_csv(url1)
s=pd.read_csv(url2)
#prints the 1st five elements by default, if needed can print by giving the number of rows needed
print (data.head(10))
#prints last 5 element
print (data.tail())
print (data)
print (data.shape)#to check the rows and columns
print(s)
print(s.shape)

In [ ]:
#learning about json and mangoDB
#loading json
#converting dict to json
import json
x='{"name":"rukmani","age":29,"lang":"Tamil"}'
y=json.loads(x)
print(y)
print(y["age"])

In [ ]:
#converting json to dict
import json
x={"name":"rukmani","age":29,"lang":"Tamil"}
y=json.dumps(x)
print(y)

In [ ]:
#connecting mongodb
!pip install dnspython
!-m pip install pymongo[srv]

In [ ]:
import pymongo
#pymongo.version
from pymongo import MongoClient
#password should not contain @
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
#creating new database
db=client.get_database('iit')
records=db.iit
records.count_documents({})

In [ ]:
#creating dict
new={
    "name":"rukmani",
     "age":20,
     "roll":546765,
     "language":'tamil'
}
#dict will convert into json while executing in mongodb

In [ ]:
#inserting the dict values into collection"records" 
records.insert_one(new)

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

In [ ]:

import pymongo
#pymongo.version
from pymongo import MongoClient
#password should not contain @
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
name=input()
add=input()
data ={'firstname':'name','address':'add'}
db=client.get_database('userinput')
records=db.gettinginput
records.count_documents({})
records.insert_one(data)
print("data added successfully")

#creating new database

In [ ]:
print(db.list_sollection_names)

In [ ]:
mylist=[{'name':'guvi','address':'street'},{'name':'rukmani','address':'city'},{'name':'devi','address':'tamilnadu'},{"_id":6,'name':'radha','address':'errorpoint'},]
x=records.insert_many(mylist)
print(x.inserted_ids)

In [ ]:
import pymongo
#pymongo.version
from pymongo import MongoClient
#password should not contain @
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
a=2
print(a)
mylist=[]
for i in range (0,a):
  name=input()
  address=input()
  mylist.append({"name":name,"address":address})
  

db=client.get_database('multipleinputs')
records=db.gettinginput
records.count_documents({})
x=records.insert_many(mylist)
print(x.inserted_ids)

In [ ]:
x=records.find_one(1)
print(x)

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
data={
    'name':'Rukmani','age':29,'phonenumber':'93407637'
}
db=client.get_database("singleinput")
records=db.datas
records.count_documents({})
records.insert_one(data)
print()

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

name=input()
age=int(input())
data={
   '_id':1, 'name':name,'age':age
}
print("successful")
db=client.get_database("UserInput")
records=db.datas
records.count_documents({})
records.insert_one(data)

In [ ]:
print(db.list_collection_names)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

list={'_id':4,"name":'rukmani',"age":20},{"name":"devi","age":21},{"name":"radhakrishnan","age":68}
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
x=records.insert_many(list)
print(x.inserted_ids)
print(db.list_collection_names)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

a=3
list=[]
for i in range(0,a):
  name=str(input())
  age=int(input())
  list.append({'name':name,"age":age})
db=client.get_database("UserMultipleInputs")
records=db.data
records.count_documents({})
x=records.insert_many(list)
x=records.find_one()
print(x)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

list={"name":'darling',"age":20},{"name":"devi","age":21},{"name":"radhakrishnan","age":68}
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
x=records.insert_many(list) 
x=records.find_one(4) #will display the data of the Id 4
print(x)

None

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
for x in records.find():# prints all the datas in that collection within that database
  print(x)

{'_id': ObjectId('61710cb5918f665bff0c5a4c'), 'name': 'darling', 'age': 20}

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
for x in records.find({},{"_id":0}): #will only display particular elements and hide the others, these are used for security purposes.
  print(x)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
myquery={"name":"rukmani"}
for x in records.find(myquery):#passing values in 1st parameter to display all the datas of the given element
  print(x)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
for x in records.find().sort("name"):# sort by default ascending
  print(x)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
for x in records.find().sort("name",-1):# sort by desending
  print(x)

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
myquery={"age":21}
x=records.delete_one(myquery)# delete only the first occurance of that data
print(x.deleted_count,"docs deleted")

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
myquery={"age":21}
x=records.delete_many(myquery)# delete all of that data
print(x.deleted_count,"docs deleted")

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})

x=records.delete_many({})# delete all datas in that collection
print(x.deleted_count,"docs deleted")

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
myquery={"name":{"$regex":"^r"}}#delete name starting with r
x=records.delete_many(myquery)
print(x.deleted_count,"docs deleted")

In [ ]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("insertingmultipleinputs")
records=db.datas
records.count_documents({})
myquery={"name":"devi"}#delete name that has devi
x=records.delete_many(myquery)
print(x.deleted_count,"docs deleted")

In [ ]:
#records.drop() will drop the whole collection

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
a=2
for i in range(0,a):
  name=input()
  ph=int(input())
  email= input()
  check=input("is this whatsapp number? Y or N")
if (check=='y'):
  print("whataspp number")
elif (check=='n'):
  print("not whataspp")
else:
  print("enter only y or n")
if "@" in email:
  True
else:
  print("Invalid email")
datas={"name":name,"phone":ph,"email":email}
db=client.get_database("tasks")
records=db.task1
records.insert_one(datas)
myquery={"name":"hsfg"}
for x in records.find(myquery):
  print(x)

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 6.7 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

a=2
directory=[]
for i in range(0,a):
  name=input("name ")
  phn=int(input("number "))
  check=input("whatsapp? y or n ")
  if(check=='y'):
    check="Yes"
  elif(check=='n'):
    check="NO"
  else:
    print("Enter y or n only")
  email=input("email ")
  if '@gmail.com' in email:
    True
  else:
    print("enter valid email address")
  directory.append({"name":name,"phone":phn,"whatsapp":check,"email":email})
db=client.get_database("Tasks")
records=db.task1
records.insert_many(directory)
for x in records.find():
  print(x)
 
search = input("enter n for name and p for phone number")
if(search == 'n'):
  name1=input("enter the name")
  myquery={"name":name1}
  for x in records.find(myquery):
    print(x)
  y=records.delete_one(myquery)
  print(y.deleted_count,"record deleted")
if(search == 'p'):
  ph1=int(input("enter the phonenumber"))
  query={"phone":ph1}
  for x in records.find(query):
    print(x)
  t=records.delete_one(query)
  print(t.deleted_count,"record deleted")
for z in records.find():
  print(z)

In [ ]:
#updating values in mongoDB
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("Tasks")
records=db.task1
for x in records.find():
  print("old records")
  print(x)
myquery={"name":"dev"}
new={"$set":{"name":"devi"}}
records.update_many(myquery,new)
for x in records.find():
  print("new records")
  print(x)

In [ ]:

import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("Tasks")
records=db.task1
print(db.task1.distinct('name')) # GIVES THE DATA OF THE ELEMENT THAT IS ASKED FOR

['devi', 'krishnan', 'kumar', 'radha', 'rukmani', 'yamini']

In [ ]:
#CREATING SUB DOCUMENTS(TRADITIONAL WAY)
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
db=client.get_database("Emb")
records=db.emb1
new1={"_id":"rukmani1","roll no":1234}
new2={"patron_id":"rukmani1","street":"perhambi","pincode":620014}
records.insert_one(new1)
records.insert_one(new2)

In [ ]:
#CREATING SUB DOCUMENTS(EMBEDDED WAY)--better than traditional way, consumes less space
db=client.get_database("Emb")
records=db.emb1
new={"_id":"rukmani2","rollno":344565,
     "address":{
         "street":"perhambi","pincode":8764752,"city":"Trichy"
         }
     }
records.insert_one(new)

In [ ]:
db=client.get_database("Emb")
records=db.emb1
new={"_id":"rukmani2","rollno":344565,
     "address":{
         "street":"perhambi","pincode":8764752,"city":"Trichy"
         }
     }
up={"$currentDate":{
    "modified":True}
    }
records.update_one(new,up)

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [ ]:
db=client.get_database("O2M")
records=db.o2m
name=input("Enter name")
st=input("enter addressstreet")
pin=int(input("enter pincode"))
pan=input("enter pan")
aad=input("enter aadhar")
dic={"_id":"mani",
     "name":name,
     "address":
                {"street":st,
                 "pincode":pin                    
                },
      "pan": {
          "pan no": pan
              },

      "aad":{
          "aadhar":aad
             
             }          
             
     }
for x in records.find():
  print(x)

Enter namenaii
enter addressstreettrichy
enter pincode376478
enter pan734896374'
enter aadhar378264732
{'_id': 'mani', 'name': 'rukmani', 'address': [{'street': 'chennai', 'pincode': 600100}], 'pan': [{'pan no': '456789'}], 'aad': [{'aadhar': '1234567'}]}
{'_id': 'mani1', 'name': 'rukmani', 'address': {'street': 'chennai', 'pincode': 12345}, 'pan': {'pan no': '56789'}, 'aad': {'aadhar': '345678'}}

In [ ]:
#documents reference
db=client.get_database("O2M")
records=db.docref
publisher={
    "name": "guvi",
    "place": "chennai",
    "books":[1,2]
}
book1={
    '_id':1,
    "title":"data science",
    "authors":["mani","ruk"]
    }
book2={
    '_id':2,
    "title":"maths",
    "authors":"nali"
   }
records.insert_one(publisher)
records.insert_one(book1)
records.insert_one(book2)
for x in records.find(publisher):
  print(x)

{'_id': ObjectId('617a6e883adfd5616d473028'), 'name': 'guvi', 'place': 'chennai', 'books': [1, 2]}

In [ ]:
#reverse engg of doc reverse which  is efficient rather than creating a big array of book ids in oublisher
db=client.get_database("O2M")
records=db.docref1
publisher={
    "_id":111,
    "name":"guvi",
    "place":"chennai"
    }
book1={
    "_id":1,
    "author":"rukmani",
    "year":2009,
    "publisher_id":111
}
book2={
    "_id":2,
    "author":"lali",
    "year":2010,
    "publisher_id":111
}
#records.insert_one(publisher)
#records.insert_one(book1)
#records.insert_one(book2)
book=int(input("enter the book id"))
myquery={"_id":book}
for x in records.find(myquery):
  print("author",x["author"])
  print("year",x["year"])
  for y in records.find({'_id':x["publisher_id"]}):
    print("name",y["name"])
    print("place",y["place"])

enter the book id1
author rukmani
year 2009
name guvi
place chennai

In [ ]:
db=client.get_database("BankTask")
records=db.task1
aadhar=int(input("Enter aadhar no "))
pan=int(input("enter pan details "))
email=input("enter email ")
if '@gmail.com' in email:
    print("updation successfull")
else:
    print("re enter details")
details={
"account":{
    "aadhar": aadhar,
    "pan": pan,
    "email":email
},
"existingamount":{
    "_id":1,
    "cash":1000
}
}
records.insert_one(details)

myquery={"details":"existingamount"}
action=input("d for deposit and w for withdrawal")

if action=='d':
  
  amt=int(input("enter the amount to deposit"))
  for x in records.find(myquery):
    print("exsisting balance",x['cash'])
    tot=x['cash']+amt
    print("available balance:",tot)
elif action=='w':
  am=int(input("enter the amount to whitdraw "))
  for y in records.find(myquery):
    if am<y['cash']:
      print("insufficient balance")
    else:
      print("amount withdrawn successfully")
      tota=y['cash']-am
      print("existing balance ", tota)

Enter aadhar no 1234567
enter pan details 45678
enter email rukani@gmail.com
updation successfull
d for deposit and w for withdrawald
enter the amount to deposit2000

In [ ]:
db=client.get_database("BankTask")
records=db.task1

action=input("d for deposit and w for withdrawal")

if action=='d':
  
  amt=int(input("enter the amount to deposit"))
  for x in records.find(details):
    print(x)
    for y in records.find({"_id":x['cash']}):
      print(y)
      print("exsisting balance",x['cash'])
      tot=x['cash']+amt
      print("available balance:",tot)
elif action=='w':
  am=int(input("enter the amount to whitdraw "))
  for y in records.find(myquery):
    if am<y['cash']:
      print("insufficient balance")
    else:
      print("amount withdrawn successfully")
      tota=y['cash']-am
      print("existing balance ", tota)

d for deposit and w for withdrawald
enter the amount to deposit12345
{'_id': ObjectId('617a8d2d3adfd5616d473030'), 'account': {'aadhar': 1234567, 'pan': 45678, 'email': 'rukani@gmail.com'}, 'existingamount': {'_id': 1, 'cash': 1000}}

KeyError: ignored

In [ ]:
list=[1,2,3,4,5,6,7,8]
for i in list:
  sum=i+i
  #av=sum/len(list)
  print(av)

0.25
0.5
0.75
1.0
1.25
1.5
1.75
2.0

In [ ]:
# STATISTICS IN PYTHON

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://guvi:Uddish2017@cluster0.lx04b.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
while True:
    try:
        yes=['Y','y']
        
        check=input("are you an new user Y or N")
        if any (char in yes for char in check):
          break;
        elif check=='N' or 'n':
            print("thanks")
        else:
            ("Invalid")
    except ValueError:
        print("invalid")
        continue
def credentials():
    SpecialSym =['$', '@', '#', '%']
    username=input("enter Username")
    while True:
        try:
            password=input("enter password")
            if len(password) < 6 or len(password)> 20 or not any(char.isdigit() for char in password) or not any(char.isupper() for char in password) or not any(char.islower() for char in password) or not any(char in SpecialSym for char in password):
                
                print("Password not acceptable, please enter another password with a special character, Caps and integer")

                
            else:
                break;
                    
        except ValueError:
            print("Enter Password...")
            continue
    while True:
        try:
            email=input("enter email")
            if not any ('@gmail.com' or '@yahoomail.com' in email):
                print("please enter correct email address")
                
                
            else:
                
                print("email created successfully")
                break;
        except ValueError:
            print("enter again")
            continue
c

thanks
thanks
thanks